#home {
  display: grid;
  grid-template-rows: 40vh auto auto;
  justify-content: center;
}

#home > a {
  justify-self: center;
}

#home > p {
  text-align: center;
}

@media all and (min-width: 900px){
  #home {
    grid-template-columns: 1fr 8fr 1fr;
    row-gap: 4vw;
  }
  #home > * {
    grid-column: 2/3;
  }
}

@media all and (min-width: 600px) and (max-width: 899px){
  #home {
    grid-template-columns: 1fr 8fr 1fr;
    row-gap: 4vw;
  }
  #home > * {
    grid-column: 2/3;
  }
}

@media all and (max-width: 599px){
  #home {
    row-gap: 4vh;
  }
}


